name: Documentation - Génération et Livraison

on:
  pull_request:
    types: [closed]
    branches:
      - "main"

jobs:
  generate-docs:
    name: Générer la documentation avec Maven
    if_merged:
	    if: github.event.pull_request.merged == true
	    runs-on: ubuntu-latest
	    steps:
	      - name: Checkout code
		uses: actions/checkout@v3

	      - name: Generate Javadoc with Maven
		run: mvn -B javadoc:javadoc 

	  deploy-docs:
	    name: Déployer la documentation sur GitHub Pages
	    runs-on: ubuntu-latest
	    needs: generate-docs

	    steps:
	      - name: Checkout code
		uses: actions/checkout@v3

	      - name: Deploy Javadoc to GitHub Pages
		uses: peaceiris/actions-gh-pages@v4
		with:
		  github_token: ${{ secrets.GITHUB_TOKEN }} 
		  publish_dir: ./public
